@tailwind base;
@tailwind components;
@tailwind utilities;
h1{
    text-align: center;
}
.user-cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.user-card{
    border: 1px solid #e1e4e8;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.22);
    background-color: #ffffffff;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 18rem;
}
